<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
			"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
			"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	
	<session-factory>
		
		<property name="hibernate.dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		
		<property name="hibernate.connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		
		<property name="hibernate.connection.url">
			jdbc:mysql://localhost/store?autoReconnect=true			
		</property>
		<!-- ;characterEncoding=iso-8859-1" -->
		
		<property name="hibernate.connection.username">
			root
		</property>
		<property name="hibernate.connection.password">
			root
		</property>
		
		<!-- #########################  configuração do c3p0 ############################# -->
		<property name="hibernate.c3p0.max_size">10</property>
		<property name="hibernate.c3p0.min_size">2</property>
		<property name="hibernate.c3p0.timeout">5000</property>
		<property name="hibernate.c3p0.max_statements">10</property>
		<property name="hibernate.c3p0.idle_test_period">3000</property>
		<property name="hibernate.c3p0.acquire_increment">2</property>
		
		
		<!-- #########################  configurações do debug  ########################## -->
		
		<!-- "show_sql" faz com que todo o código SQL gerado seja escrito na saída default -->
		<property name="show_sql">true</property>		
		
		<!-- "generate_statistics" faz com que o Hibernate gere estatísticas de uso e possa diagnosticar uma má performance do sistema -->
		<property name="hibernate.generate_statistics">true</property>
		
		<!-- "use_sql_comments" adiciona comentários ao código SQL gerado, facilitando o entendimento das queries -->
		<property name="hibernate.use_sql_comments">true</property>
		
		<!-- o mapeamento PAI deve sempre vir antes do mapeamento FILHO -->
		<mapping resource="ArtistEntity.hbm.xml"></mapping>
		<mapping resource="GenderEntity.hbm.xml"></mapping>		
		<mapping resource="TitleEntity.hbm.xml"></mapping>			
		
	</session-factory>
	
</hibernate-configuration>